<h1>New Timecard</h1>

<div id="errDiv" style="background-color: #ffb0b0; padding: 10px; display: none;"><span id="errorText"></span></div>
<div id="informDiv" style="background-color: #daffb0; padding: 10px; display: none;"><span id="informText"></span> <a
        id="informLink" href="#">View Timecard</a></div>

<form name="newPerson">
    <h3>Basic Information</h3>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="" placeholder="Processed Paperwork"><br>

    <label for="individual">Person:</label><br>
    <select name="individual" id="individual">
        <!-- Iterate through each person and render into select form. -->
        {{#each this.people}}
        <option value={{dataValues.id}}>{{dataValues.first_name}} {{dataValues.last_name}} {{#unless nickname}}({{dataValues.nickname}}){{/unless}}</option>
        {{/each}}
    </select><br>
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" value="" disabled="1"><br>
<label for="hours">Hours:</label><br>
    <input type="text" id="hours" name="hours" value="" placeholder="5"><br>

    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br>


    <input type="button" value="Submit" onclick="createTimecard()">
    <!-- Delete this test button for prod -->
    <input type="button" value="Fill Test Data" onclick="testTimecardData()">
    <!-- End Test Btn -->
    <a href="/timecards">Cancel</a>

</form>