<div style="position: fixed; text-align: center; width: 100%; left: 0; bottom: 0; background-color: #e8e8e8; padding: 10px;">
    Hello, I am footer. <a href="https://github.com/gunther123/Tennant">Github</a>
</div>