<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tennant Timeclock</title>
</head>

<body>
    {{> nav }}
    {{{body}}}
</body>
<footer>
    {{> footer }}
</footer>

<script src="/assets/js/scripts.js"></script>

</html>