<h1>Departments</h1>
<a href="/departments/new">New</a>
<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.department}}
        <tr>
            <td>{{dataValues.name}}</td>
            <td><a href="./departments/view/{{dataValues.id}}">View</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>