{{> breadcrumbs currLvl_txt='Departments' }}

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">Departments</h1>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item"><a class="button is-success" href="./new">New</a></p>
  </div>
</nav>

<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Department</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.department}}
    <tr>
      <td>{{dataValues.name}}</td>
      <td><a class="button is-small" href="./view/{{dataValues.id}}">View</a> <a class="button is-small"
          href="./edit/{{dataValues.id}}">Edit</a>
        <!--<a class="button is-small is-danger" href="./edit/{{dataValues.id}}"><i class="fas fa-trash"></i></a>-->
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>