<h1>New Person</h1>

<div id="errDiv" style="background-color: #ffb0b0; padding: 10px; display: none;"><span id="errorText"></span></div>
<div id="informDiv" style="background-color: #daffb0; padding: 10px; display: none;"><span id="informText"></span> <a
        id="informLink" href="#">View Person</a></div>

<form name="newPerson">
    <h3>Basic Information</h3>
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname" value="" placeholder="David"><br>
    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname" value="" placeholder="Tennant"><br>
    <label for="nname">Nickname:</label><br>
    <input type="text" id="nname" name="nname" value="" placeholder=""><br>
    <label for="startdate">Start Date:</label><br>
    <input type="date" id="startdate" name="startdate" value="" placeholder=""><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="" placeholder="tennant@doctor.co.uk"><br>
    <label for="department">Department:</label><br>
    <select name="department" id="department">
        <!-- Iterate through each returned department and render into select form. -->
        {{#each this.department}}
        <option value={{dataValues.id}}>{{dataValues.name}}</option>
        {{/each}}
    </select><br>
    <!--<input type="text" id="department" name="department" value="1"><br>-->
    <label for="usernotes">Notes:</label><br>
    <textarea id="usernotes" name="usernotes" rows="4" cols="50"></textarea><br>
    <h3>Login Information</h3>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="" placeholder="d.tennant"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password" value="" placeholder=""><br>
    <input type="button" value="Submit" onclick="createIndividual()">
    <!-- Delete this test button for prod -->
    <input type="button" value="Fill Test Data" onclick="testIndvData()">
    <!-- End Test Btn -->
    <a href="/people">Cancel</a>

</form>