
<h1>Department: {{this.department.name}}</h1>

<h3>Additional Record Details</h3>
Created: {{this.department.createdAt}}<br>
Modified: {{this.department.updatedAt}}

<br><br><br>
<a href="/departments/">Back</a>