{{> breadcrumbs level1_txt='Departments' level1_url='/departments/' currLvl_txt=this.department.name }}

<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <h1 class="title">Department: {{this.department.name}}</h1>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item"><a class="button" href="./edit">Edit</a></p>
    <p class="level-item"><a class="button is-danger" href="./delete">Delete</a></p>
  </div>
</nav>

<h3 class="subtitle">Additional Record Details</h3>
Created: {{this.department.createdAt}}<br>
Modified: {{this.department.updatedAt}}

<hr>
<a href="/departments/">Back</a>